@font-face {
	font-family: SofiaProBlack;
	src:
		url('../fonts/sofiaproblack-webfont.woff2') format('woff2'),
}

@font-face {
	font-family: SofiaProRegular;
	src:
		url('../fonts/sofiaproregular-webfont.woff2') format('woff2'),
}
