@font-face {
	font-family: 'SofiaProBlack';
	font-weight: normal;
	font-style: normal;
	src:
			url('../fonts/SofiaProBlack.woff') format('woff'),
			url('../fonts/sofiaproblack-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'SofiaProRegular';
	font-weight: normal;
	font-style: normal;
	src:
			url('../fonts/SofiaProRegular.woff') format('woff'),
			url('../fonts/sofiaproregular-webfont.woff2') format('woff2');
}
