header{
    min-height: 41vw;
    text-align: center;
    padding-top: 1vw;
    @include desktop{
        min-height: 170px;
        padding-top: 15px;
    }
    h1{
        font-family: SofiaProBlack, Arial, sans-serif;
        font-size: 9.75vw;
        letter-spacing: 0.5vw;
        line-height: 9.75vw;
        @include desktop{
            font-size: 38px;
            letter-spacing: 2px;
            line-height: 38px;
        }
    }
    h2{
        font-family: SofiaProBlack, Arial, sans-serif;
        font-size: 7.5vw;
        letter-spacing: 0.75vw;
        line-height: 7.5vw;
        @include desktop{
            font-size: 28px;
            letter-spacing: 3.5px;
            line-height: 28px;
        }
    }
    hr{
        border-top: 0.5vw solid $font_color;
        @include desktop{
            border-top: 2px solid $font_color;
            margin: 13px 5px;
        }
    }
    h3{
        font-size: 7.5vw;
        letter-spacing: 0.15vw;
        line-height: 7vw;
        @include desktop{
            font-size: 26px;
            letter-spacing: 2.5px;
            line-height: 26px;
        }
    }
    h4{
        font-size: 6vw;
        letter-spacing: 0.25vw;
        line-height: 6vw;
        @include desktop{
            font-size: 24px;
            letter-spacing: 1px;
            line-height: 24px;
        }
    }
}
