main{
    text-align: center;
    height: 41vw;
    @include desktop{
        height: 330px;
    }
    div.info{
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        font-family: 'SofiaProBlack', Arial, sans-serif;
        font-size: 4.5vw;
        letter-spacing: 0.25vw;
        line-height: 4.5vw;
        @include desktop{
            padding: 32px 10px 12px 10px;
            font-size: 25px;
            letter-spacing: 2.5px;
            line-height: 26px;
            height: 122px;
        }
    }
    form{
        display: inline-block;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        padding: 0 1.5vw;
        height: 26vw;
        @include desktop{
            padding: 0 11px;
            height: 208px;
        }
        input[type="tel"]{
            width: 30%;
        }
        select, input[type="text"]{
            width: 47%;
            text-align-last:center;
        }
        input, select{
            height: 4.5vw;
            background: $input_background_color;
            border: transparent;
            @include boxshadow(0.5vw);
            font-family: 'SofiaProBlack', Arial, sans-serif;
            color: $input_font_color;
            text-align: center;
            font-size: 1.5vw;
            z-index: 2;
            @include opacity(0.6, 60);
            @include desktop{
                @include opacity(1, 100);
                height: 36px;
                @include boxshadow(3px);
                font-size: 12px;
            }
            option{
                background: rgba(182,225,242,0.8);
                @include opacity(0.6, 60);
                @include desktop{
                    background: $input_background_color;
                    @include opacity(1, 100);
                }
            }
        }
        div.agreement{
            width: 100%;
            padding-left: 21.75vw;
            z-index: 2;
            @include opacity(0.6, 60);
            text-align: left;
            margin: 1.7vw 0;
            @include desktop{
                padding-left: 29px;
                @include opacity(1, 100);
                margin: 12px 0;
            }
            input{
                height: 2.25vw;
                width: 2.25vw;
                @include boxshadow(0.25vw);
                @include desktop{
                    height: 17px;
                    width: 17px;
                    @include boxshadow(1px);
                }
            }
            label{
                font-size: 1.1vw;
                padding-left: 2.25vw;
                @include desktop{
                    font-size: 9px;
                    padding-left: 14px;
                }
                a{
                    color: $font_color;
                }
            }
        }
        input[type="submit"]{
            width: 100%;
            height: 6vw;
            margin: 0 27vw;
            background: $button_color;
            border: transparent;
            @include boxshadow(0.5vw);
            font-family: 'SofiaProBlack', Arial, sans-serif;
            color: $font_color;
            font-size: 2.5vw;
            @include opacity(0.6, 60);
            @include desktop{
                height: 52px;
                margin: 0 73px;
                @include boxshadow(4px);
                font-size: 20px;
                @include opacity(1, 100);
            }
        }
    }
}
