main{
    text-align: center;
    height: 41vw;
    @include desktop{
        height: 330px;
    }
    div.info{
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        font-family: 'SofiaProBlack', Arial, sans-serif;
        font-size: 4.5vw;
        letter-spacing: 0.25vw;
        line-height: 4.5vw;
        @include desktop{
            padding: 32px 10px 12px 10px;
            font-size: 25px;
            letter-spacing: 2.5px;
            line-height: 26px;
            height: 122px;
        }
    }
    form{
        display: inline-block;
        padding: 0 2vw;
        height: 26vw;
        @include desktop{
            padding: 0 11px;
            height: 208px;
        }
        input[type="tel"]{
            width: 30%;
            margin-bottom: 1vw;
            &:nth-of-type(2){
                margin-right: 5%;
                margin-left: 5%;
            }
            @include desktop{
                margin-bottom: 12px;
            }
        }
        select, input[type="text"]{
            width: 47%;
            text-align-last:center;
        }
        select{
            margin-right: 6%;
            option{
                background: rgba(182,225,242,0.8);
                @include opacity(0.6, 60);
                @include desktop{
                    background: $input_background_color;
                    @include opacity(1, 100);
                }
            }
        }
        input, select{
            height: 4.5vw;
            background: $input_background_color;
            border: transparent;
            @include boxshadow(0.5vw);
            font-family: 'SofiaProBlack', Arial, sans-serif;
            color: $input_font_color;
            text-align: center;
            font-size: 1.5vw;
            z-index: 2;
            @include opacity(0.6, 60);
            @include desktop{
                @include opacity(1, 100);
                height: 36px;
                @include boxshadow(3px);
                font-size: 12px;
            }
        }
        div.agreement{
            width: 100%;
            padding-left: 21.75vw;
            z-index: 2;
            @include opacity(0.6, 60);
            text-align: left;
            margin-top: 1.7vw;
            margin-bottom: 3.5vw;
            @include desktop{
                padding-left: 29px;
                @include opacity(1, 100);
                margin: 24px 0;
            }
            input{
                height: 2.25vw;
                width: 2.25vw;
                @include boxshadow(0.25vw);
                @include desktop{
                    height: 17px;
                    width: 17px;
                    @include boxshadow(1px);
                }
            }
            label{
                font-size: 1.1vw;
                vertical-align: bottom;
                padding-left: 2.25vw;
                @include desktop{
                    font-size: 9px;
                    padding-left: 14px;
                }
                a{
                    color: $font_color;
                    vertical-align: bottom;
                }
            }
        }
        input[type="submit"]{
            width: 17vw;
            height: 6.25vw;
            margin: 0 27vw;
            background: $button_color;
            border: transparent;
            @include boxshadow(0.5vw);
            font-family: 'SofiaProBlack', Arial, sans-serif;
            color: $font_color;
            font-size: 2.5vw;
            @include opacity(0.6, 60);
            @include desktop{
                height: 52px;
                width: 130px;
                margin: 0 73px;
                @include boxshadow(4px);
                font-size: 20px;
                @include opacity(1, 100);
            }
        }
    }
}
