footer{
    height: 40vw;
    position: relative;
    @include desktop{
        height: 200px;
    }
    img{
        position: absolute;
        bottom: 2vw;
        left: 0;
        right: 0;
        margin: auto;
        width: 47vw;
        @include desktop{
            bottom: 55px;
            width: 55%;
        }
    }
}
