@import "reset";
@import "media";
@import "fonts";
@import "variables";
@import "body";
@import "view";
@import "header";
@import "main-part";
@import "footer";

.container{
    width: 74vw;
    margin: 0 auto;
    @include desktop{
        width: 300px;
    }
}
